* {
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





main {
    width: 100%;
    max-width: 1240px;
}
.bg {
    background-image: url('image/bg-01-01.png');
    width: 100%;
    height: 25vw;
    background-size: cover;
    background-repeat: no-repeat;
}
.top-menu li {
    display: inline;
}
#top-menu a {
    color: #fff;
    float: right;
    text-decoration: none;
    font-size: 1vw;
    margin-left: 20px;
    padding: 10px;
    display: inline;
    margin-top: 135px;
    font-family: Monospace;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

#contact {
    margin-right: 530px;    
}

#top-menu li a:hover {
    color: #00e0d0;
    transform: scale(1.05);
    box-shadow: 20px 20px 400px rgba(0, 0, 0, 0.5); 
}


#logo1 img {
    position: absolute;
    top: 90px;
    left: 920px;
    height: 150px;
}

#titr {
    font-size: 100px;
    position: absolute;
    top: 580px;
    color: #fff;
    right: 35%;
    font-family:serif;
}

#khat {
border-bottom: 2px solid #00e0d0;
padding-bottom: 45px;
}

#matn-titr {
    text-align: center;
    font-size: 55px;
    position: absolute;
    top: 780px;
    color: #fff;
    right: 23%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 90px;
}

.more {
    text-align: center;
    font-size: 55px;
    position: absolute;
    top: 1200px;
    color: #fff;
    border:2px solid #00e0d0;
    border-radius: 8px;
    right: 47%;
    padding: 20px;
    text-decoration: none;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    width: 281.4px;
    background-color: none;
    cursor: pointer;
}

.more:hover {
    transform: scale(1.06);
    box-shadow: 20px 20px 200px rgba(0, 0, 0, 0.5);
}








.our-story {
    width: 100%;
    height: 1100px;
}

.right {
    width: 50%;
    float: right;
}

.h2 {
    font-size: 75px;
    font-family:sans-serif;
    margin-top: 200px;
    margin-bottom: 20px;
}

#text-our-story {
    width: 1500px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
    color: rgb(116, 116, 116);
    margin-bottom: 50px;
}

.left {
    width: 50%;
    float: left;
}

#logo2 {
    width: auto;
    height: 700px;
    margin-left: 1049.06px;
    margin-top: 200px;
}

.more2 {
    text-align: center;
    font-size: 55px;

    color: #00e0d0;
    border:2px solid #00e0d0;
    border-radius: 8px;
    padding: 20px;
    text-decoration: none;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    width: 281.4px;
    background-color: none;
    cursor: pointer;
}

.more2:hover {
    transform: scale(1.06);
    box-shadow: 20px 20px 200px rgba(0, 0, 0, 0.5);
}








#bg2 {
    background-image: url(image/bg-01-02.png);
    height: 1391px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

#quote {
    position: absolute;
    top: 100px;
    left: 47%;
    height: auto;
}

#pro-text {
    position: absolute;
    margin-top: 460px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 2300px;
}

#pro-text p {
    font-size: 55px;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

#name p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    margin-top: 75px;
}

#name span {
    font-family: serif;
    font-size: 60px;
    color: rgb(193, 193, 193);
    display: block;
    margin-top: 25px;
}

#person img {
    width: 230px;
    margin-top: 85px;
}






#white-2 {
    background-color: #fff;
    width: 100%;
    height: 1700px;
}

#give-us {
    font-size:60px;
    float: left;
    margin-top: 150px;
    font-family: sans-serif;
    margin-left: 30%;
    margin-bottom: 50px;
}

.brand-page .left form input, textarea{
    border-color: #c3c2c2;
    resize: none;
    border-width: 2px; 
    border-style: solid; 
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    width: 1200px;
    margin: 30px;
    height: 125px;
    font-size: 40px;
    margin-left: 30%;
    font-family: Arial, sans-serif;
}

.brand-page .left #submit form input {
    font-size: 55px;
    color: #00e0d0;
    border: 2px solid #00e0d0;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    width: 281.4px;
    background-color: #fff;
    cursor: pointer;
}

.brand-page .left #submit form input:hover {
    transform: scale(1.06);
    box-shadow: 2px 2px 200px rgba(0, 0, 0, 0.5);
}

.content-w2 .right #our-hc {
    font-size:60px;
    margin-top: 150px;
    font-family: sans-serif;
    margin-left: 0%;
    margin-bottom: 80px;
    display: block;
}

.content-w2 .right a img{
    height: auto;
    width:  1100px;
}












.bg3 #bg3 {
    background-image: url(image/bg-01-03.png);
    width: 4418px;
    height: 1120px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
 
#logo-end img {
    margin-top: 130px;
    margin-left: 900px;
    height: 150px;
    display: inline;
}

.left-end {
    width: 40%; 
    float: left;
    padding: 20px;
    box-sizing: border-box; 
}
.center-end {
    width: 25%; 
    float: left;
    padding: 20px;
    box-sizing: border-box; 
    position: relative;
}

.left-end #p1-end p {
    color: #d2d1d1da;
    font-size: 50px;
    line-height: 65px;
    font-family:Arial, Helvetica, sans-serif;
    width: 100; 
    float: left; 
    position: relative; 
    margin-left: 900px;
    margin-top: 30px;
}

.center-end .h3-end {
    margin-top: 190px;
    color: #ffffff;
    font-size: 50px;
    font-family: sans-serif;
    margin-left: 40px;
}

#location-icon img {
    width: 40px;
    height: auto;
    margin-top: 80px;
    margin-left: 40px;
    position: absolute;
}

#p2-end p small {
    color: #d2d1d1da;
    font-size: 50px;
    font-family: sans-serif;
    margin-left: 130px;
    fill-rule: auto;
    position: absolute;
    margin-top: 81px;
}  

#call-logo img {
    width: 50px;
    height: auto;
    margin-top: 390px;
    margin-left: 40px;
    position: absolute;
}

#call-number p {
    color: #d2d1d1da;
    font-size: 50px;
    font-family: sans-serif;
    margin-left: 130px;
    fill-rule: auto;
    position: absolute;
    margin-top: 390px;
}

#box-stay #form-stay #email-box {
    position: absolute;
    border-color: #c3c2c2;
    border-width: 2px; 
    border-style: solid; 
    border-radius: 2px;
    padding-left: 50px;
    padding-top: 2px;
    width: 650px;
    margin: 30px;
    height: 125px;
    background-color: #66876800; 
    margin-top: 81px;
    font-size: 45px;
}
#box-stay #form-stay input::placeholder {
    color: #bfbfbf;
    font-size: 50px;
    font-family: Arial, sans-serif;
}
#submit2 a img {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 760px;
    margin-top:97px;
}

#right-end .center-end h3 {
    position: absolute;
}

#pppppp p {
    position: absolute;
    background-color: #fffbfb6e;
    width: 170px;
    height: 125px;
    left: 720px;
    margin-top:81px;
}

.sharee {
    transition: transform 0.5s ease-in-out
}
.sharee:hover {
    transform: scale(1.06)
}

#logoes-app img {
    margin-top: 300px;
    margin-left: 30px;
    width: 700px;
}

#bottom-menu {
    color: #fff;
    display: flex;
    font-size: 55px;
    margin-left: 20px;
    padding: 10px;
    margin-top: 135px;
    font-family: Monospace;
    margin-left: 900px;
    padding-top: 230px;
}
    #bottom-menu ul li { 
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
#bottom-menu ul li:hover {
    transform: scale(1.06);
    box-shadow: 2px 2px 200px rgba(0, 0, 0, 0.5);
}

#bottom-menu ul {
    display: flex;
}

#bottom-menu ul li {
    margin-right: 60px;
}